{% extends "base.html" %}
{% load static %}
{% block body-content %}
<body>
  <center>
    <br>
    <h2>{{ title }}</h2>
    <br>
<div>
  <div class="entry">
    <form method="post" action="">{% csrf_token %}
      <!-- N.B Placing these calls to management_form before the <table> tag seems to be necessary -->
      <h4>Enter the Names of The New Recruits</h4>
      <table id="id_new_player_formset" border="0" cellpadding="0">
	<tbody>
	  {% for form in new_player_fs.forms %}
	  <tr id="{{ form.prefix }}-row" class="form-container">
	    <td>{{ form }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      <p>
	{{ new_player_fs.management_form }}
	<input type='submit' value='Submit'>
      </p>
    </form>
    <br>
    {% if message %}
    <font color="red">
    {{ message }}
    </font>
    {% endif %}
  </div>
</div>
  </center>
</body>
<br>
<br>
<br>
<br>
{% endblock %}
