{% extends "base.html" %}
{% load static %}
{% block body-content %}
<body>
  <center>
    <br>
    <h2>{{ title }}</h2>
    <br>
<div>
  <div class="entry">
    <form method="post" action="">{% csrf_token %}
      <!-- N.B Placing these calls to management_form before the <table> tag seems to be necessary -->
      <h4>Choose Existing Players For Today's Game!</h4>
      <table id="id_exist_player_formset" border="0" cellpadding="0">
	<tbody>
	  {% for form in exist_player_fs.forms %}
	  <tr id="{{ form.prefix }}-row" class="form-container">
	    <td>{{ form }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      
      <h4>How Many Players Are You Adding to the Roster (Mark 0 if None)?</h4>
      <table id="id_count_formset" border="0" cellpadding="0">
	<tbody>
	  {% for form in count_formset.forms %}
	  <tr id="{{ form.prefix }}-row" class="form-container">
	    <td>{{ form }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      <p>
	{{ exist_player_fs.management_form }}
	{{ count_formset.management_form }}
	<input type='submit' value='Submit'>
      </p>
    </form>
  </div>
</div>
  </center>
</body>
</html>
{% endblock %}


